<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # LIBERA O ACESSO AO BACKEND DO CHAT:
    RewriteCond %{REQUEST_URI} !^/api/

    # Página inicial: sem redirect
    RewriteRule ^index\.html$ - [L]
    
    # Se o arquivo existir no servidor, sirva-o (ex: imagens, css, js)
    RewriteCond %{REQUEST_METHOD} GET
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Se o arquivo não existir, mande para o index.html (SPA routing)
    RewriteRule . /index.html [L]
</IfModule>
